

/* история */
.story {
    background-color: #ffffff;
  }
  
  .story__body {
  display: flex;
  margin-left: 64px;
 
  }
  .story__image {
    width: 235px;
  height: 229px;
  margin-right: 100px;
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  }
  .story__head {
  }
  .story__title {
    color: #413d4b;
font-family: "Playfair Display";
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
  }
  .story__text1 {
  }
  .story__text2 {
  }
  .story__button {
  }
  .story__message {
  }
  