
.testimonials {
background-image: url(../../img/bkTestimonials1.png), url(../../img/bkTestimonials.png);
background-repeat: no-repeat;
background-size: cover;
opacity: 0.85;
}

.testimonials__body {
}

.testimonials__header {
text-align: center;
}

.testimonials__logo {
margin-bottom: 40px;
}

.testimonials__text {
opacity: 0.85;
color: #ffffff;
font-family: "Playfair Display";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.4px;
margin-bottom: 45px;
}

.testimonials__name {
color: #ffffff;
font-family: "Roboto - Black";
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
letter-spacing: 0.7px;
margin-bottom: 10px;
}

.testimonials__position {
opacity: 0.7;
color: #ffffff;
font-family: $textRoboto;
font-size: 13px;
font-weight: 300;
line-height: 22px;
text-transform: uppercase;
margin-bottom: 30px;
}

.testimonials__nav {
display: flex;
justify-content: center;
align-items: center;
}

.item-testimonials {
width: 45px;
height: 45px;
border-radius: 50%;
margin-right: 15px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.item-testimonials__image {
width: 100%;
height: 100%;
}

.item-testimonials:nth-child(4){
width: 70px;
height: 70px;
}

.fa-chevron-left{
font-size: 20px;
color:gray;
}

.fa-chevron-right{
font-size: 20px;
color:gray;
}