@import '../shared/index';
 
.works {
min-height: 200px;
text-align: center;

}

.works__header {
background-color: #ffffff;
display: flex;
justify-content: space-between;
align-items: center;
}

.works__title {
color: #413d4b;
font-family: "Playfair Display";
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.1px;
}

.works__text {
color: #413d4b;
font-family: $textRoboto;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.7px;

}

.works__text .fa-chevron-right{
 font-size: 25px;
 color: gray;
 opacity: 0.7;
 padding-left: 10px;
 }

.works__images {
display: inline-grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;

}

 @media screen and (max-width:1300px){
    .works__images{
        grid-template-columns: 1fr 1fr 1fr;
        
    }
 }
 
.work__column {
width: 16.66666%;
}

.work__column img{
width: 267px;
height: 200px;
margin: -5px;
&:hover{
  border: 1px solid white;
  
}
}

.work__btn {
display: flex;
justify-content: center;
border: $borderbtn;
max-width: 140px;
min-height: 35px;
margin: 50px auto;
 }

.work__btn-message {
padding: 10px 20px;
color: $textbtn-color;
border: none;
background-color: #ffffff;
font-family: "Hammersmith One";
font-size: 16px;
font-weight: 400;
text-transform: uppercase;

}