@import 'shared/index';
@import 'reset';
@import 'sections/index';

html {   
  font-family: 'Roboto', sans-serif;
}
h1,h2{
  font-family: 'Playfair Display', serif;
}

button{
  font-family: 'Hammersmith One', sans-serif;
}

* {
box-sizing: border-box;
}
a{
  text-decoration: none;
}

.container { 
  max-width: 940px;
  margin: 0 auto;
  padding: 50px 0px;    
}




